<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pingandget" >
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_customer.name" />
		</td>
		<td>
		{customer.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_customer.customer_id" />
		</td>
		<td>
		{customer.customerId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_customer.address" />
		</td>
		<td>
		{customer.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_customer.mobile_number" />
		</td>
		<td>
		{customer.mobileNumber}
		</td>
	</tr>
</table>
</html>