<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="orderId">
	<f:translate key="tx_pingandget_domain_model_order.order_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderId" /><br />
<label for="orderType">
	<f:translate key="tx_pingandget_domain_model_order.order_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderType" /><br />
<label for="origin">
	<f:translate key="tx_pingandget_domain_model_order.origin" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="origin" /><br />
<label for="destination">
	<f:translate key="tx_pingandget_domain_model_order.destination" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="destination" /><br />
<label for="orderDescription">
	<f:translate key="tx_pingandget_domain_model_order.order_description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="orderDescription" cols="40" rows="15" /><br />
<label for="orderPrice">
	<f:translate key="tx_pingandget_domain_model_order.order_price" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderPrice" /><br />
</html>