<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pingandget" >
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.order_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.order_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.origin" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.destination" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.order_description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingandget_domain_model_order.order_price" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>